{% extends 'base/base.html' %}

{% block content %}
<h2>{% block title%} Edit Note{% endblock%}</h2>
<form action="/noteslist/update/{{note_to_update.id}}" method="POST">
  <div>
    {{ form.hidden_tag() }}
    <p>
      <b>{{ form.title.label }}</b> <br>
      {{ form.title(size=32, class="form-control", 
      style="background-color: darkslategray; color: whitesmoke;") }}
    </p>
      
    
    <p>
      <b>{{ form.note.label( class="form-label") }}</b> <br>
      {{ form.note(cols="100", rows="20", class="form-control",
      style="background-color: darkslategray; color: whitesmoke;") }}
    </p>
    <button type="submit" 
    class="btn btn-primary" 
    style="background-color: darkslategray;">
      <a href="/noteslist/add"></a>
      Edit
    </button>

  </div>
  </form>

{% endblock %}