{% extends "base/base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
<h1> Sign up</h1>

<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <p>
        <b>{{ form.username.label }}</b> <br>
        {{ form.username(size=32, class="form-control", 
        style="background-color: darkslategray; color: whitesmoke;") }}
    </p>
    <p>
        <b>{{ form.email.label }}</b> <br>
        {{ form.email(size=32, class="form-control", 
        style="background-color: darkslategray; color: whitesmoke;") }}
    </p>
    <p>
        <b>{{ form.password.label }}</b> <br>
        {{ form.password(size=32, class="form-control", 
        style="background-color: darkslategray; color: whitesmoke;") }}
    </p>
    <p>
        <b>{{ form.confirm_password.label }}</b> <br>
        {{ form.confirm_password(size=32, class="form-control", 
        style="background-color: darkslategray; color: whitesmoke;") }}
    </p>
    <button type="submit" class="btn btn-primary" style="background-color: darkslategray;">
        Sign Up
      </button>
</form>
{% endblock %}